body {
  font-family: 'Roboto-Regular';
  background-color: $background-color;
  color: $text-color;
  user-select: none;
}

.image {
  width: 500px;
  height: 500px;
  background-size: cover;
  background-image: url(./images/default-avatar.png);
}
